

.active{
    border-bottom: 2px solid #109965;
    font-weight: bold;
    color: #109965 !important;
}

.scroll-to-top-btn {
    position: fixed;
    border-radius: 10px;
    height: 50px;
    bottom: 40px;
    right: 30px;
    font-size: 40px;
    background-color: #109965;
    font-weight: bold;
    color: white;
    border: none;
  }